<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load the properties file: sport.properties -->

	<context:property-placeholder location="classpath:sport.properties" />
    <!-- Define your beans here -->
    
    
     <bean id="myFortuneService"
    		class="com.luv2code.springdemo.HappyFortuneService">
    	</bean>
    
 	<bean id="myCoach"
 		class="com.luv2code.springdemo.BaseballCoach">	 
 		<constructor-arg ref ="myFortuneService"></constructor-arg>		
 	</bean>

    
    <bean id="myfootballCoach"
        class="com.luv2code.springdemo.FootballCoach">
        <constructor-arg ref="myFortuneService"></constructor-arg>         
    </bean>
    
    <bean id="myTrackCoach"
     class="com.luv2code.springdemo.TrackCoach">
     <!-- for setter injection create property -->
     <property name="fortuneService" ref="myFortuneService"></property>
     <!-- inject literal values -->
     <property name="emailAddress" value="${foo.email}"></property>
     <property name="team" value="${foo.name}"></property>
     
     <!--  -->
    </bean>
    
    

</beans>





